<div>
        <label for="street">Street: <input type="text" id="street" [(ngModel)]="address.street" /></label>

    </div>
    <div>
        <label for="city">City: <input type="text" id="city" [(ngModel)]="address.city" /></label>

    </div>
    <fieldset>
        <label for="state">State:</label>
        <select id="state" [(ngModel)]="address.state">
                    <option *ngFor="let state of states">{{state}}</option>                
            </select>
    </fieldset>
    <fieldset>
        <label for="region">Region:</label>
        <select id="region" [(ngModel)]="address.region">
            <option *ngFor="let region of regions">{{region}}</option>        
      </select>
    </fieldset>