<h1>Customers</h1>

<div>

    <!--list is here-->
    <p>
        <i>Select a Customer</i>
    </p>
    <ul>
        <li *ngFor="let cust of customers" [ngClass]="{selected: customer===cust}" (click)="customer=cust">{{cust.name}}</li>
    </ul>

    <div *ngIf="customer">

        <h1>{{customer.name}}</h1>
        <p>{{customer.name}} is in the {{customer.address.region}} region</p>
        <p>{{customer.address.street}}</p>
        <p>{{customer.address.city}}</p>
        <p>{{customer.address.state}}</p>

        <fieldset>
            <label>Name: <input [(ngModel)]="customer.name" /></label><br>
        </fieldset>

        <div>
            <label><input type="checkbox" [(ngModel)]="hideAddress" /> Hide Address</label>
        </div>

        <div [hidden]="hideAddress">
            <div>
                <label for="street">Street: <input type="text" id="street" [(ngModel)]="customer.address.street" /></label>

            </div>
            <div>
                <label for="city">City: <input type="text" id="city" [(ngModel)]="customer.address.city" /></label>

            </div>
            <fieldset>
                <label for="state">State:</label>
                <select id="state" [(ngModel)]="customer.address.state">
                    <option *ngFor="let state of states">{{state}}</option>
                <!--<option>Jalisco</option>
                <option>California</option>
                <option>Quebec</option>        
                <option>Illinois</option>-->
            </select>
            </fieldset>
            <fieldset>
                <label for="region">Region:</label>
                <select id="region" [(ngModel)]="customer.address.region">
            <option *ngFor="let region of regions">{{region}}</option>        
      </select>
            </fieldset>
        </div>

    </div>

</div>